
// colors

$orange: orange;
$purple: #623e80;
$white: white;
$light-blue: #2c9ab7;
$silver: rgb(83, 81, 81);
$black: black;

// fonts
$font-regular: 'Montserrat', sans-serif;
$font-cursive: 'Shadows Into Light', cursive;;

$myFontSize:0.7em;