// colors

$alto: #d3d3d3;
$dove-gray: #676767;
$dusty-gray: #9c9c9c;
$wild-sand: #f6f5f6;
$scorpion: #5f5f5f;

// margin left for left div
$marginleft-left: 2rem;

// margin left for right div
$marginleft-right: 2rem;

// breakpoints
$breakpoint-tablet: 768px;

$myFontSize:0.7em;